<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('../template/head.ejs'); %>
</head>

<body>
    <%- include('../template/header'); %>
        <!-- Banner Section Start-->
        <div class="container-fluid banner bg-secondary my-5">
            <div class="container py-5">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="py-4">
                            <h1 class="display-3 text-white">UMKM TERBARU</h1>
                            <p class="fw-normal display-3 text-dark mb-4">Ayo Bergabung</p>
                            <p class="mb-4 text-dark">The generated Lorem Ipsum is therefore always free from repetition
                                injected humour, or non-characteristic words etc.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative">
                            <img src="asset/img/UMKM.png" class="img-fluid w-100 rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Section End -->
        <!-- Featurs Section Start -->
        <div class="container-fluid featurs py-5">
            <div class="container py-5">
                <h1 class="mb-3">TUTORIAL PENDAFTARAN</h1>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-user-plus fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Klik Menu Daftar</h5>
                                <p class="mb-0">Cari dan klik tombol Daftar yang ada di halaman utama. Isi semua informasi yang diminta, seperti nama lengkap, email, nomor telepon, dan kata sandi. Pastikan data yang dimasukkan benar dan valid.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-sign-in-alt fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Akses Menu Login</h5>
                                <p class="mb-0">Setelah mengklik menu Daftar, Anda akan diarahkan ke halaman atau form login. Pilih opsi Buat Akun Baru untuk melanjutkan</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-edit fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Masukkan Data dan Data Usaha Anda</h5>
                                <p class="mb-0">Masukkan detail usaha Anda, seperti nama usaha, alamat usaha, jenis usaha, dan informasi lainnya yang diminta. Pastikan semua data yang diisi benar dan lengkap.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i class="fa fa-clock fa-3x text-white"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5>Tunggu Verifikasi</h5>
                                <p class="mb-0">Setelah mengirimkan data, admin akan memeriksa dan memverifikasi informasi Anda. Proses ini biasanya membutuhkan waktu beberapa saat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featurs Section End -->
        <!-- Vesitable Shop Start-->
        <div class="container-fluid vesitable py-5">
            <div class="container py-5">
                <h1 class="mb-0">BERITA</h1>
                <div class="owl-carousel vegetable-carousel" id="berita">
                    <% for(var i=0; i<berita.length; i++) { %>
                        <a href="/articles/detail/<%= berita[i].slug %>">
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="<%= berita[i].thumbnail %>" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                            style="top: 10px; right: 10px;">
                            <%= berita[i].category[0] %></div>
                        <div class="p-4 rounded-bottom">
                            <h4><%= berita[i].title %></h4>
                            <p><%= berita[i].description %></p>
                            <div class="d-flex justify-content-between flex-lg-wrap">

                            </div>
                        </div>
                    </div>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Vesitable Shop End -->

        <footer>
            <%- include('../template/footer'); %>
        </footer>
        <%- include('../template/script'); %>
</body>

</html>