<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('../template/head.ejs'); %>
      <link rel="stylesheet" href="/asset/css/admin/detailumkm.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

</head>

<body>
    <%- include('../template/header'); %>
    
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Artikel</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Profile UMKM</a></li>
                <li class="breadcrumb-item"><a href="#">Halaman</a></li>
                <li class="breadcrumb-item active text-white">
                    <%= data.title %>
                </li>
            </ol>
        </div>
         <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">
                    <%= data.title %>
                </h1>
                <div class="row g-4">
                          <div class="card">
                            <div class="card-body">
                                <div class="container">
                                    <div class="card p-3">
                                        <!-- Bagian Logo Usaha -->
                                        <div class="text-center mb-4">
                                            <img src="#" id="logoUsaha" class="img-fluid logo-usaha" alt="Logo Usaha">
                                            <h3 class="mt-2" id="namaUsaha" name="namaUsaha">PT Contoh Usaha</h3>
                                        </div>

                                        <!-- Carousel Foto Produk -->
                                        <div id="productCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
                                            <div class="carousel" id="fotoProduk" name="fotoProduk">

                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#productCarousel" data-bs-slide="prev" id="prevButton"
                                                name="prevButton">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#productCarousel" data-bs-slide="next" id="nextButton"
                                                name="nextButton">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>


                                        <!-- Tabel Data Usaha -->
                                        <table class="table table-borderless table-sm" id="dataUsaha" name="dataUsaha">
                                            <tbody>
                                                <tr>
                                                    <th style="width: 30%;" id="usernameLabel" name="usernameLabel">
                                                        Username:</th>
                                                    <td id="usernameValue" name="usernameValue">admin_user</td>
                                                </tr>
                                                <tr>
                                                    <th id="namaLabel" name="namaLabel">Nama:</th>
                                                    <td id="namaValue" name="namaValue">-</td>
                                                </tr>
                                                <tr>
                                                    <th id="noWaLabel" name="noWaLabel">No Whatsapp:</th>
                                                    <td id="noWaValue" name="noWaValue">-</td>
                                                </tr>
                                                <tr>
                                                    <th id="emailLabel" name="emailLabel">Email:</th>
                                                    <td id="emailValue" name="emailValue">-</td>
                                                </tr>
                                                <tr>
                                                    <th id="kategoriUsahaLabel" name="kategoriUsahaLabel">Kategori
                                                        Usaha:</th>
                                                    <td id="kategoriUsahaValue" name="kategoriUsahaValue">Kuliner</td>
                                                </tr>
                                                <tr>
                                                    <th style="vertical-align: top" id="deskripsiUsahaLabel"
                                                        name="deskripsiUsahaLabel">Deskripsi
                                                        Usaha:</th>
                                                    <td id="deskripsiUsahaValue" name="deskripsiUsahaValue">Ini adalah
                                                        deskripsi usaha singkat.</td>
                                                </tr>
                                                <tr>
                                                    <th id="deskripsiProdukLabel" name="deskripsiProdukLabel">Deskripsi
                                                        Produk:</th>
                                                    <td id="deskripsiProdukValue" name="deskripsiProdukValue">Ini adalah
                                                        deskripsi usaha singkat.</td>
                                                </tr>
                                                <tr>
                                                    <th id="alamatLabel" name="alamatLabel">Alamat:</th>
                                                    <td id="alamatValue">Jl. Contoh Alamat, No. 1</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Peta Lokasi -->
                                        <div class="text-center mt-3">
                                            <label class="form-label my-3" id="lokasiUsahaLabel">Lokasi Usaha</label>
                                            <div id="map" name="map" class="map">
                                                <!-- Placeholder untuk peta -->
                                                Peta lokasi usaha
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>

        <footer>
            <%- include('../template/footer'); %>
        </footer>
        <%- include('../template/script'); %>
          <script>
            let id = "<%= id %>";
            console.log(id);
        </script>
        <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
        <script src="/asset/js/user/detailumkm.js"></script>
        <script>

        </script>
</body>

</html>